<%- include('../partials/header.ejs') %>


<div class="container mt-2" style='min-height: 100vh;'>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our handpicked campgrounds from all over the world</p>
            <p>
                <a class='btn btn-primary btn-lg' href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    <h3>Our Most Popular Campgrounds</h3>
    <div class="row d-flex flex-wrap">
        <% campgrounds.forEach(function(campground){  %>
            <div class="col-md-3 col-sm-6 text-center">
                 <img class='img-thumbnail' style='height: 180px;' src='<%= campground.image %>' alt='Image is not available'><br>
                 <caption><%= campground.name %></caption>
					<p>
						<a href='/campgrounds/<%= campground._id %>' class='btn btn-primary'>More Info</a>
					</p>
            </div>
		
             <% });  %>
     </div>
</div>


<%- include('../partials/footer.ejs') %> 

