<%- include('../partials/header.ejs') %>

<div class='container' style='min-height: 100vh;'><!-- first container opened -->
	<div class='row'>
		<div class='col-md-12 mt-3'>
			<img class='img-thumbnail img-fluid' style='width: 100%' src="<%= campground.image %>">
			<div class='caption-full mb-4'>
				<h4 class='float-right'>$<%= campground.price %>/night</h4>
				<h4><a><%= campground.name %></a></h4>
				<p><%= campground.description %></p>
				<p class='float-right'>
					Added on: <%= campground.created.toDateString(); %>
				</p>
				<p>
					<em>Submitted By: <%= campground.author.username %></em>
				</p>
				
				<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>  <!-- currentuser is checking if user is loggd                       in (not logged in will make currentUser undefined) if current user owns the campground or not) -->
				<a href='/campgrounds/<%= campground._id %>/edit' class='btn btn-warning'> Edit </a> 
				<form action='/campgrounds/<%= campground._id %>/delete?_method=DELETE' method='POST' style='display: inline;'>
					<button class='btn btn-danger'> Delete </button>	
				</form>
				 <% } %>
			</div>
			<div class='card' style='margin-bottom: 50px;'>
				<div class='card-header'>
					<a href='/campgrounds/<%= campground._id %>/comments/new'                                                                                  class='btn btn-success   float-right'>Add New Comment</a>
				</div>
				<% campground.comments.forEach(function(comment){ %>
				<div class='card-body'>
					<div class='col-md-12'>
						<strong><%= comment.author.username %></strong>
						<span class='float-right'>Posted On: <%= comment.created.toDateString(); %></span>
						<p class='card-text'>
							<%= comment.text %>
						</p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
						<a href='/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit'                                                              class='btn btn-xs btn-warning'>Edit </a>
						<form action='/campgrounds/<%= campground._id %>/comments/<%= comment._id  %>?_method=DELETE' method='POST'                                  style='display: inline;'>
							<input class='btn btn-xs btn-danger' type='submit' value='Delete'>
					    </form>
						<% } %>
					</div>
				</div>
                 <% }) %>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer.ejs') %> 

